html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: url("../images/back_pattern.png");
    background-size: unset;
    background-repeat: repeat;
}

* {
    margin: 0;
    padding: 0;
}

.col-center {
    float: none;
    display: block;
    margin: 0 auto;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: KGSecondChancesSolid;
    src: url(../fonts/KGSecondChancesSolid.ttf);
}

/* pull to refresh */
.pull-down-header {
    background-color: transparent !important;
}

.bubble-item {
    background: #d5d5d5 !important;
}

/* infinite scroll */
.mugen-scroll {
    text-align: center !important;
}

/* modal */

.modal-mask {
    display: block !important;
}

.modal-wrapper {
    margin: 0 auto;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.header {
    background-color: #539a00;
}

.header .navbar {
    background: url("../images/ictheader-bg-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header .navbar .nav-item.active a,
.header .navbar .nav-item a:hover,
.header .navbar-brand:hover {
    color: #fff000;
}

.header .navbar .nav-item a,
.header .navbar-brand {
    color: #fff;
    font-size: 1.3rem;
}

.header .navbar-brand {
    font-size: 1.5rem;
}

.header .navbar-nav {
    margin-left: auto;
    order: 2;
}

.landing p {
    font-family: KGSecondChancesSolid;
    font-size: 2rem;
    color: #539a00;
    line-height: 1.2;
    transform: rotate(-3deg);
    margin-top: 5rem;
}

.gallery .item-wrapper .item-inner-wrapper {
    background-image: url("../images/frame_bg.png");
    border-radius: 1rem;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .item-wrapper .item-outter-wrapper {
    background-color: #fff;
    padding: 0.2rem;
}

.gallery .item-wrapper {
    padding: 1rem;
}

.gallery .item-wrapper .item-inner-wrapper {
    color: #fff;
    font-size: 1rem;
}

.gallery .middle-block {
    text-align: center;
    line-height: 1;
    padding-top: 0.5rem;
}

.gallery .middle-block {
    font-size: 1.5rem;
    font-weight: bold;
}

.gallery .bottom-block {
    font-size: 1.2rem;
    font-weight: bold;
}

.gallery .bottom-block .item-share img {
    max-width: 5rem;
    cursor: pointer;
}

.gallery .bottom-block .vote-button img {
    max-width: 8rem;
    cursor: pointer;
}

.gallery .bottom-block {
    padding-top: 0.5rem;
}

.gallery .bottom-block .vote {
    text-align: center;
    margin-bottom: 0.5rem;
}

.gallery .bottom-block .share span {
    float: left;
}

.gallery .bottom-block .share .item-share {
    float: right;
}

.mugen-scroll {
    font-family: KGSecondChancesSolid;
    font-size: 1rem;
}

.participate .preview-container {
    border: 5px solid #539a00;
}

.participate .picture-inner .picture-inner-text {
    font-size: 1.8rem !important;
    font-weight: bold;
    line-height: 1.2 !important;
}

button {
    background-color: #539a00;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2.5rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}

.participate {
    text-align: center;
}

.participate .button-submit {
    margin-top: 1rem;
}

.modify-image .choose-sticker img {
    display: inline-block;
    max-width: 6rem;
    margin: 2rem;
}

.modify-image {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
}

.modify-image .canvas-container canvas {
    border: 5px solid #539a00;
}

.canvas-wrapper {
    min-height: 30rem;
}

.canvas-wrapper {
    margin: 0 auto;
    margin-bottom: 3rem;
}

.modify-image-wrapper {
    padding: 0;
}

.canvas-container {
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.canvas-wrapper {
    margin: 0 auto;
}

@media only screen and (max-width: 991px) {
    .header .navbar {
        background: none;
        background-color: #539a00 !important;
    }

    .header .navbar-nav {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 478px) {
    button {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 412px) {
    .canvas-wrapper {
        min-height: 17rem;
    }
}

.modify-image-finish .thanks-message {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 2rem;
}

.modify-image-finish .thanks-message a {
    color: #539a00;
    font-weight: bolder;
}

.modify-image-finish .gallery-item-image {
    border: 5px solid #539a00;
}

.modify-image-finish {
    padding-top: 5rem;
}

.show-page {
    padding-top: 5rem;
}

.show-page .item-wrap img {
    border: 5px solid #539a00;
}

.show-page {
    font-size: 1.5rem;
    font-weight: bold;
    color: #539a00;
    text-align: center;
    line-height: 1;
}

.show-page .show-like img {
    max-width: 10rem;
    cursor: pointer;
}

.show-page .item-share {
    max-width: 6rem;
    cursor: pointer;
}

.show-page .outter-content {
    position: relative;
}

.show-page .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.landing .title {
    margin-bottom: 3rem;
}

.login {
    text-align: center;
}

.login .form-check {
    text-align: left;
}

.login .page-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
}

.login .card {
    background: none;
    border: none;
}

.login .form-control {
    background: transparent;
    border: none;
    min-height: 2rem;
    outline: none;
    box-shadow: none;
    margin-left: 1rem;
    width: 90%;
    color: #000;
    font-weight: bold;
}

.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.input-wrapper {
    background: url("../images/input.png");
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 25rem;
    min-height: 3rem;
    padding-top: 0.1rem;
}

.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    color: #000;
    -webkit-text-fill-color: #000;
    background-image: none;
}

.login .form-group {
    color: #000000;
    font-weight: bold;
}

.login .reg-link {
    color: #539a00;
}
