body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: url("../images/back_pattern.png");
    background-size: unset;
    background-repeat: repeat;
}

* {
    margin: 0;
    padding: 0;
}

.col-center {
    float: none;
    display: block;
    margin: 0 auto;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.otf');
}

.container.header {
    max-width: 1190px;
}

.admin-wrap {
    position: relative;
    left: -15rem;
}

.admin-wrap-toggle {
    position: relative;
    left: 0rem;
}

@font-face {
    font-family: KGSecondChancesSolid;
    src: url(../fonts/KGSecondChancesSolid.ttf);
}

/* pull to refresh */
.pull-down-header {
    background-color: transparent !important;
}

.bubble-item {
    background: #d5d5d5 !important;
}

/* infinite scroll */
.mugen-scroll {
    text-align: center !important;
}

/* modal */

.modal-mask {
    display: block !important;
}

.modal-wrapper {
    margin: 0 auto;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.header-wrap {
    background: url("../images/ictheader-bg-big.jpg");
    background-repeat: repeat-x;
    background-position-y: top;
}

.header .navbar {
    background-color: transparent !important;
}

.header .navbar .nav-item.active a,
.header .navbar .nav-item a:hover,
.header .navbar-brand:hover {
    color: #fff000;
}

.header .navbar .nav-item a,
.header .navbar-brand {
    color: #fff;
    font-size: 1.1rem;
}

.header .navbar-brand {
    font-size: 1.3rem;
}

.header .navbar-nav {
    margin-left: auto;
    order: 2;
}

.landing p {
    font-family: KGSecondChancesSolid;
    font-size: 1.8rem;
    color: #539a00;
    line-height: 1.2;
    transform: rotate(-2deg);
}

.gallery .item-wrapper .item-inner-wrapper {
    background-image: url("../images/frame_bg.png");
    border-radius: 1rem;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery .item-wrapper .item-outter-wrapper {
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.gallery .item-wrapper {
    padding: 1rem;
}

.gallery .item-wrapper .item-inner-wrapper {
    color: #fff;
    font-size: 1rem;
}

.gallery .middle-block {
    text-align: center;
    line-height: 1;
    padding-top: 0.5rem;
}

.gallery .middle-block {
    font-size: 1.5rem;
    font-weight: bold;
}

.gallery .bottom-block {
    font-size: 1.2rem;
    font-weight: bold;
}

.gallery .bottom-block .item-share img {
    max-width: 5rem;
    cursor: pointer;
}

.gallery .bottom-block .vote-button img {
    max-width: 8rem;
    cursor: pointer;
}

.gallery .bottom-block {
    padding-top: 0.5rem;
}

.gallery .bottom-block .vote {
    text-align: center;
    margin-bottom: 0.5rem;
}

.gallery .bottom-block .share span {
    float: left;
}

.gallery .bottom-block .share .item-share {
    float: right;
}

.mugen-scroll {
    font-family: KGSecondChancesSolid;
    font-size: 1rem;
}

.home-manual-img img {
    max-width: 23rem;
}

.home-imgs-main img {
    max-width: 17rem;
}

.participate .preview-container {
    border: 5px solid #539a00;
    border-radius: 0.5rem !important;
}

.participate .picture-inner .picture-inner-text {
    font-size: 1.8rem !important;
    font-weight: bold;
    line-height: 1.2 !important;
}

button {
    background-color: #539a00;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2.5rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}

.participate {
    text-align: center;
}

.participate .button-submit {
    margin-top: 1rem;
}

.modify-image .choose-sticker img {
    display: inline-block;
    max-width: 6rem;
    margin: 2rem;
    cursor: pointer;
}

.modify-image {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.modify-image .canvas-container canvas {
    border: 5px solid #539a00;
    border-radius: 0.5rem;
}

.canvas-wrapper {
    min-height: 30rem;
}

.canvas-wrapper {
    margin: 0 auto;
    margin-bottom: 3rem;
}

.modify-image-wrapper {
    padding: 0;
}

.canvas-container {
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.canvas-wrapper {
    margin: 0 auto;
}

@media only screen and (max-width: 991px) {
    .header .navbar-nav {
        text-align: center;
    }

    .header .navbar-nav {
        background-color: #4b8a00;
        margin-top: 4rem;
        width: 100%;
    }

    .navbar-toggler {
        background: #fff;
    }
}

@media only screen and (max-width: 478px) {
    button {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 412px) {
    .canvas-wrapper {
        min-height: 17rem;
    }
}

.modify-image-finish .thanks-message {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 2rem;
}

.modify-image-finish .thanks-message a {
    color: #539a00;
    font-weight: bolder;
}

.modify-image-finish .gallery-item-image {
    border: 5px solid #539a00;
    border-radius: 0.5rem;
}

.modify-image-finish {
    padding-top: 2.5rem;
}

.show-page {
    padding-top: 2.5rem;
}

.show-page .item-wrap img {
    border: 5px solid #539a00;
    border-radius: 0.5rem;
}

.show-page {
    font-size: 1.5rem;
    font-weight: bold;
    color: #539a00;
    text-align: center;
    line-height: 1;
}

.show-page .show-like-img img {
    max-width: 10rem;
    cursor: pointer;
}

.show-page .item-share {
    max-width: 6rem;
    cursor: pointer;
}

.show-page .outter-content {
    position: relative;
}

.winners h1 {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.show-page .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.landing .title {
    margin-bottom: 3rem;
}

.login {
    text-align: center;
}

.login .form-check {
    text-align: left;
}

.login .page-title,
.winners .page-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
    margin: 0 auto;
}

.login .page-title {
    font-family: KGSecondChancesSolid;
    font-size: 1.8rem;
    color: #539a00;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: normal;
}

.login .card {
    background: none;
    border: none;
}

.login .form-control {
    border-radius: 0.5rem;
}

.form-control:focus {

    box-shadow: none;
}

.login .form-group {
    color: #000000;
    font-weight: bold;
}

.login .reg-link {
    color: #539a00;
}

.mugen-scroll div {
    padding: 2.5rem;
}

.winners .middle-block p {
    text-align: center;
    font-size: 1rem;
}

.winners .middle-block p a {
    color: #539a00;
    font-weight: bold;
}

.winners .middle-block {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.toggle-handle {
    background-color: #fff;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

table > tbody > tr:hover {

    background-color: #f5f5f5;

}

.table-wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background: #fff;
}

.pagination {
    float: right;
}

/*----------------------------------------------------------*/

.cbp-spmenu {
    background: #47a3da;
    position: fixed;
}

.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    background: #258ecd;
}

.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -150px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em) {

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em) {

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

.admin-header {
    border-bottom: 3px solid #fff;
    background-color: #1F9A00;
}

.admin {
    background: none;
    background-color: #ecf0f5;
}

.admin .cbp-spmenu h3 {
    color: #fff;
    font-size: 1.9em;
    padding: 16px;
    border-bottom: 3px solid #fff;
}

.admin .cbp-spmenu {
    border-right: 1px solid #d2d6de;
    background-color: #f9fafc;
}

.admin .cbp-spmenu a {
    font-weight: 600;
    color: #444;
}

.cbp-spmenu h3 {
    background: #1F9A00;
}

.cbp-spmenu a:hover {
    background: #ecf0f5;
    text-decoration: none;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #1F9A00;

}

.admin-dash .far,
.admin-dash .fas,
.admin-dash .fa {
    font-size: 3rem;
}

.admin-dash {
    padding-top: 2rem;
}

#showLeftPush {
    margin-right: 3rem;
    background: #38c172;
    border: none;
}

.collapse:not(.show) {

    /* display: block;*/

}

.timepicker-picker div {
    display: block !important;
}

.collapse.show {
    height: 100%;
}

.box {
    border-radius: 0;
    border-top: 1px solid #d2d6de;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 1px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    padding: 2rem;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-body {
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.admin .col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.admin label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

.admin .form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.admin .form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.admin .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.admin .col-center {
    float: none;
    display: block;
    margin: 0 auto;
}

.admin #saveActions {
    text-align: center;
}

.admin .navbar-collapse {
    float: right;
}

.admin ul {
    list-style: none;
}

.table th, .table td {
    padding: 0.45rem;
    text-align: center;
}

.modal-head {
    width: 100%;
}

.modal-head button {
    float: right;
    padding: 0;
    margin: 0;
    width: 30px;
}

.modal-head div {
    float: left;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .landing p {
        font-size: 1.25rem;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }

    .home-imgs img {
        max-width: 80%;
    }

    .home-imgs .downArrow {
        max-width: 2rem !important;

    }

    .home-imgs-main {
        padding: 1rem 0;
    }

    .home-imgs-main img {
        max-width: 70%;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-brand {
        font-size: 1.2rem;
    }

    .modify-image-finish,
    .modify-image,
    .row.participate,
    .container.show-page > .row,
    .container.winners > div,
    .container.winners .gallery.row,
    .gallery.row {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .modify-image-finish {
        padding-top: 2rem;
    }

    .mugen-scroll div {
        padding: 1rem;
    }

    .input-wrapper {
        min-width: 19rem;
        min-height: 2.4rem;
        padding-top: 0rem;
    }

    .show-page {
        padding-top: 2rem;
    }

    .show-page .inner-content {
        position: relative;
        top: unset;
        left: unset;
        margin-right: unset;
        transform: unset;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .row.participate {
        padding-bottom: 4rem;
    }

    .participate .picture-inner .picture-inner-text {
        font-size: 1.4rem !important;
    }

    .modify-image .choose-sticker img {
        margin: 0.5rem;
    }

    .choose-sticker {
        padding: 2rem 0rem;
    }

    .landing p {
        font-size: 1rem !important;
        margin-top: 0rem;
        margin-bottom: -1rem;
    }
}

@media screen and (max-width: 375px) {
    .input-wrapper {
        min-width: 16rem;
    }
}

@media screen and (max-width: 320px) {
    .input-wrapper {
        min-width: 13rem;
    }
}

@media screen and (max-width: 1866px) {
    .container,
    .container.header {
        max-width: 1000px;
    }

}

@media screen and (max-width: 1439px) {
    .container,
    .container.header {
        max-width: 790px;
    }

    .table td.password-admin {
        word-break: break-all;
    }
}

.header .navbar {
    padding: 0;
}

.navbar-brand img {
    max-width: 4.25rem;
}

.landing {
    padding-top: 2.5rem;
}

.panel-button {
    background-color: #283c90;
    border-color: #283c90;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0 0.4rem;
    line-height: 1.5;
    font-size: 1.1rem;
    vertical-align: bottom;
}

.panel-button:hover {
    background-color: #283c90;
}

.item-outter-wrapper img {
    border-radius: 0.3rem;
}

.delete {
    width: 6rem;
    padding: 0.5rem 0.5rem;
    line-height: 1;
    font-size: 1rem;
    font-weight: normal;
}

.modify-wrap {
    position: relative;
}

.remove-sticker {
    position: absolute;
    top: 0;
    right: 0;
}

.manual-sticker p {
    font-family: KGSecondChancesSolid;
    font-size: 1.4rem;
    color: #539a00;
    line-height: 0.045;
}

@media screen and (min-width: 1820px) {
    .remove-sticker {
        right: 4rem;
    }
}

@media screen and (max-width: 1440px) {
    .canvas-wrapper {
        min-height: 25rem;
    }

    .header .navbar .nav-item a, .header .navbar-brand {
        font-size: 0.9rem;
    }

    .winners .middle-block {
        padding-bottom: 0rem;
    }

    .landing .title {
        margin-bottom: 2rem;
    }

    .home-imgs-main {
        max-width: 16rem;
    }

    .landing p {
        font-size: 1.5rem;
    }

    .participate button {
        padding: 0.5rem 0.7rem;
    }

    .home-manual-img img {
        max-width: 100%;
    }

    .home-imgs-main img {
        max-width: 14rem;
    }

    .awards .user_manual p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 0rem;
    }

    .awards .middle-block .awards-imgs h2 {
        font-size: 1.1rem;
    }

    .awards .awards-shirt,
    .awards .awards-cap {
        max-width: 14rem;
    }

    .awards .middle-block .awards-imgs {
        margin-top: 1rem;
    }

    .awards .user_manual h1 {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .modify-image .choose-sticker img {
        margin: 1rem 2rem;
    }

    .participate button {
        margin-bottom: 0 !important;
    }

}

@media screen and (max-width: 480px) {
    .landing-bottom,
    .home-imgs-main {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .canvas-wrapper {
        min-height: 20rem;
    }

    .choose-sticker {
        padding: 0rem 0rem;
    }

    .remove-sticker {
        position: relative;
        top: unset;
        right: unset;
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    .delete {
        width: 12rem;
    }
}

.gallery {
    padding-top: 2rem;
}

.winners .gallery {
    padding-top: 0;
}

.preview-container .picture-inner {
    border-radius: 1rem !important;
}

.downArrow {
    max-width: 2rem;
    margin: 0 auto;
}

.home-imgs {
    text-align: center;
}

.awards {
    padding-top: 2.5rem;
}

.gallery.row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.alert-danger {
    list-style: none;
}

.awards-shirt,
.awards-cap {
    max-width: 20rem;
}

.user_manual h1 {
    font-family: KGSecondChancesSolid;
    font-size: 1.8rem;
    color: #539a00;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.user_manual p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0rem;
}

.user_manual p a {
    color: #5e961d;
}

.awards .awards-imgs {
    margin-top: 2rem;
    text-align: center;
}

.awards .awards-imgs h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.awards .awards-imgs h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.awards .awards-imgs .awards-shirt {
    margin-right: 5rem;
}

@media only screen and (max-width: 768px) {
    .manual-sticker p {
        line-height: 1;
    }
}